---
import SeoHead from "../components/SeoHead.astro";

interface Props {
  description: string;
  faviconContentType?: string;
  faviconHref?: string;
  locale: string;
  seoTitle: string;
}

const { description, faviconContentType, faviconHref, locale, seoTitle } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <SeoHead
      description={description}
      faviconContentType={faviconContentType}
      faviconHref={faviconHref}
      locale={locale}
      title={seoTitle}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
